@model double

<div class="average-rating">
    <h3>Средний рейтинг: @Model</h3>
</div>



<style>
    .average-rating {
        height: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #e67e22;
        margin-top: 10px;
        display: block; /* Убедись, что элемент видим */
        visibility: visible;
        opacity: 1;
    }

</style>
