@model P50_4_22.Models.Product

@{
    ViewData["Title"] = "Добавить продукт";
}

<h2>Добавить продукт</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ProductName" class="control-label">Название</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductImage" class="control-label">Изображение (example.png)</label>
        <input asp-for="ProductImage" class="form-control" />
        <span asp-validation-for="ProductImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductPrice" class="control-label">Цена</label>
        <input asp-for="ProductPrice" class="form-control" />
        <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductDescription" class="control-label">Описание</label>
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductAmount" class="control-label">Количество</label>
        <input asp-for="ProductAmount" class="form-control" />
        <span asp-validation-for="ProductAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Категория</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>
