<style>
    .text-light {
        color: black !important;

    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bulkin Keys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P50_4_22.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bulkin Keys</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Политика Конфиденицальности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Support" asp-action="Index">Тех. Поддержка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">Отзывы</a>
                        </li>
                    </ul>
                    <!-- Добавлены кнопки авторизации и регистрации справа -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                            <div class="navbar-collapse justify-content-center">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-outline-primary me-2" asp-area="" asp-controller="Search" asp-action="Index">Поиск товаров</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-outline-primary me-2" asp-area="" asp-controller="Cart" asp-action="Index">Корзина</a>
                                    </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <span class="navbar-text text-light">
                                            <p style="color: black;">Клиент - @User.Identity.Name</p>
                                        </span>
                                        <form asp-controller="Home" asp-action="Logout" method="post" class="d-inline">
                                            <button type="submit" class="nav-link btn btn-outline-primary me-2">Выйти</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-outline-primary me-2" asp-area="" asp-controller="Authorize" asp-action="Authorize">Авторизация</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-primary text-white" asp-area="" asp-controller="Registration" asp-action="Index">Регистрация</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Bulkin Keys - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
