<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bulkin Keys</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P50_4_22.styles.css" asp-append-version="true" />
    <style>
        /* Стиль для шапки */
        .navbar {
            padding: 10px 0;
        }

        /* Настройка для выравнивания элементов по вертикали */
        .navbar-nav .nav-item {
            display: flex;
            align-items: center;
        }

        /* Выравнивание кнопок в правой части */
        .navbar-nav.navbar-right {
            margin-left: auto;
        }

            /* Для кнопок в правой части */
            .navbar-nav.navbar-right .nav-item {
                margin-left: 10px;
            }

        /* Заголовок пользователя (логин) */
        .navbar-text {
            color: black;
            font-weight: bold;
            margin-right: 15px;
            padding: 0; /* Убираем padding */
            display: flex; /* Используем flexbox */
            align-items: center; /* Выравнивание по вертикали */
        }

        .navbar-text p {
            margin: 0; /* Убираем margin у <p> */
            padding: 0; /* Убираем padding у <p> */
            display: inline-block; /* Убираем лишний отступ */
        }


        /* Стиль для кнопок */
        .btn-outline-primary, .btn-primary, .btn-outline-primary.me-2 {
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0; /* Убираем padding у кнопки "Выйти" */
        }

        p {
            margin: 0;
        }

    </style>
</head>
<body>
    @await Html.PartialAsync("_Header")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
